body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}



.snake {
    background-color: rgb(38, 150, 184);
    border: .25vmin solid black;
    border-radius: 15%;
}

.food {
    background-color: green;
    border: .25vmin solid black;
    border-radius: 50%;
}